body {
    background: #f5f5f5;
    font-family: "Arial", sans-serif;
}

.container {
    padding: 2em;
}

h1 {
    color: #000;
    font-size: 2em;

    margin: 0.75em 0;
}

h1 small {
    color: #ccc;
    font-size: 0.5em;
}

img {
    margin: 20px;
}

h2 {
    margin: 1em 0;

    font-size: 1.25em;
    color: #999;
}

ol {
    margin-left: 2em;

    list-style: upper-roman;
}

ol li {
    margin: 20px;
}

.code-block {
    border: 1px solid #ccc;
    background: #fff;

    margin: 1em;
    padding: 1em;
}

.code-block strong {
    display: block;
    
    margin: 1em;
    font-weight: 700;
}

.code-block strong.minor {
    font-weight: 400;
    color: #666;
}

.code-block pre {
    padding: 10px;

    font-family: monospace;
}

.code-block p {
    padding: 0 30px;

    margin: 10px 0;

    font-size: 13px;
}

.code-block ol li {
    font-size: 13px;
    margin: 5px;
    line-height: 20px;
}

.column-view-container {
    margin: 1em;
}
